<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4><%= I18n.t :header, scope: [:homepage, :body, :faq] %></h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''><%= I18n.t :question_1, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t( 
              :answer_1a, scope: [:homepage, :body, :faq], 
                :amazon_link => link_to(I18n.t(
                  :amazon, scope: [:homepage, :body, :faq]), 'https://payments.amazon.com/sdui/sdui/accountstatus'),
                :info_link => link_to(I18n.t(
                  :moreinfo, scope: [:homepage, :body, :faq]), 'https://payments.amazon.com/sdui/sdui/helpTab/Checkout-by-Amazon/Advanced-Integration-Help/Using-Your-Access-Key')) %>
          <br />
          <br />
          <%= raw I18n.t(
            :answer_1b, scope: [:homepage, :body, :faq]) %>
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= I18n.t :question_2, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t(
              :answer_2, scope: [:homepage, :body, :faq], 
                :stripe_link => link_to(I18n.t(
                  :stripe, scope: [:homepage, :body, :faq]), 'https://stripe.com'), 
                :wepay_link => link_to(I18n.t(
                  :wepay, scope: [:homepage, :body, :faq]), 'https://wepay.com')) %></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= I18n.t :question_3, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t :answer_3, scope: [:homepage, :body, :faq] %></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= I18n.t :question_4, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t :answer_4, scope: [:homepage, :body, :faq] %></p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary><%= I18n.t :question_5, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t :answer_5a, scope: [:homepage, :body, :faq] %>
          <br />
          <br />
          <%= raw I18n.t :answer_5b, scope: [:homepage, :body, :faq] %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary><%= I18n.t :question_6, scope: [:homepage, :body, :faq] %></summary>
          <p><%= I18n.t :answer_6, scope: [:homepage, :body, :faq] %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''><%= I18n.t :question_7, scope: [:homepage, :body, :faq] %></summary>
          <p><%= raw I18n.t :answer_7, scope: [:homepage, :body, :faq] %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''><%= I18n.t :question_8, scope: [:homepage, :body, :faq] %></summary>
          <p><%= I18n.t :answer_8a, scope: [:homepage, :body, :faq] %>
          <p>
            <p><%= raw I18n.t(
                :answer_8b, scope: [:homepage, :body, :faq], 
                  :heroku_link => link_to(I18n.t(
                    :heroku, scope: [:homepage, :body, :faq]), 'https://toolbelt.heroku.com/')) %></p>
            <p><%= raw I18n.t :answer_8c, scope: [:homepage, :body, :faq] %></p>
            <p><%= raw I18n.t :answer_8d, scope: [:homepage, :body, :faq] %></p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
