<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        <%= I18n.t :subhead_1, scope: [:homepage, :body] %>
      </h3>
      <p>
        <%= raw I18n.t(
          :copy_1, scope: [:homepage, :body],
            :lockitron_link => link_to(I18n.t(
              :lockitron, scope: [:homepage, :body]), 'https://lockitron.com'),
            :kickstarter_link => link_to(I18n.t(
              :kickstarter, scope: [:homepage, :body]), 'http://techcrunch.com/2012/10/07/the-story-of-lockitron-crowdfunding-without-kickstarter/')) %>
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        <%= I18n.t :subhead_2, scope: [:homepage, :body] %>
      </h3>
      <p>
        <%= raw I18n.t :copy_2, scope: [:homepage, :body] %>
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        <%= I18n.t :subhead_3, scope: [:homepage, :body] %>
      </h3>
      <p>
        <%= I18n.t :copy_3, scope: [:homepage, :body] %>
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        <%= I18n.t :subhead_4, scope: [:homepage, :body] %>
      </h3>
      <p>
        <%= I18n.t :copy_4, scope: [:homepage, :body] %>
      </p>
    </div>
  </div>
</div>
