<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="#">/faq"><%= I18n.t :faq, scope: [:footer] %></a>
      </li>
      <li>
        <a href="#"><%= I18n.t :press, scope: [:footer] %></a>
      </li>
      <li>
        <a href="http://blog.lockitron.com/"><%= I18n.t :blog, scope: [:footer] %></a>
      </li>
      <li>
        <a href="#"><%= I18n.t :policy, scope: [:footer] %></a>
      </li>
      <li>
        <a href="/account/login"><%= I18n.t :login, scope: [:footer] %></a>
      </li>
    </ul>
    <p><%= I18n.t :rights, scope: [:footer] %></p>
  </div>
</div>
